[Unit]
Description=Flask Application
After=network.target

[Service]
User=jaz
WorkingDirectory=/app/ja-zennoh
ExecStart=/usr/bin/flask --app /app/ja-zennoh/backend/app run --host=0.0.0.0
Restart=always

[Install]
WantedBy=multi-user.target
